@import 'variables';
.boardscreen{
  width: 75%;
  height: 100%;
  background-color: $color-gray-light;
  position: relative;
  &-info{
    margin: 2rem 0 2rem 1rem;
    font-size: 3rem;
    font-weight: 900;
    width: 80%;
    border: none;
    :disabled{
      background-color: $color-gray-light;
    }
  }
  &-notice{
    color: $color-main;
    font-size: 3rem;
    font-weight: 900;
    margin: 3rem;
  }
}