@import 'variables';
.post{
  position: absolute;
  width: 30%;
  height: 20%;
  top: 3rem;
  left: 1rem;
  background-color: $color-main-light;
  color: $color-font;
  &-bar{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: $color-bar-main;
    &-name{
      display: flex;
      align-items: center;
      width: 70%;
      height: 80%;
      font-weight: 700;
      font-size: 1.8rem;
      border: none;
      cursor: pointer;
      &:disabled{
        color: $color-font;
        background-color: $color-bar-main;
      }
    }
    &-button-wrap{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 31%;
      height: 100%;
      button{
        width: 45%;
        height: 100%;
        font-size: 2.2rem;
        font-weight: 900;
        background-color: $color-bar-button;
      }
      .hide{
        color: $color-yellow;
      }
      .remove{
        color: $color-red;
        padding-bottom: 1rem;
      }
    }
  }
  &-text{
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    border: none;
    &:disabled{
      color: $color-font;
      background-color: $color-main-light;
    }
  }
}