// colors
$color-main: #202124;
$color-main-light: #35363A;
$color-gray: #939393;
$color-gray-light: #EEEEEE;
$color-font: #ffffff;
$color-yellow: #FEBC2E;
$color-red: #FF5F57;
$color-button-add: #28C840;